APP_NAME=TankFlix
DATABASE_URL=sqlite:///./data/app.db
TANKERKOENIG_API_KEY=your_api_key_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
SECRET_KEY=please_change_me
POLL_INTERVAL_SECONDS=300
REQUEST_TIMEOUT_SECONDS=10
DEFAULT_ORIGIN_ADDRESS=An d. Wesebreede 2, 33699 Bielefeld
DEFAULT_ORIGIN_LAT=51.9887894
DEFAULT_ORIGIN_LNG=8.6197121
